<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>
<div class="container">
    <form method="post" action="/blog/new">
        <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Type blog title">
        </div>
        <div class="form-group">
            <textarea class="form-control" name="description" placeholder="Write blog..."></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<script src="/scripts/jquery.js"></script>
</body>
</html>